.navbar-brand {
	font-weight: bold;
	margin-top: 7px ; 
	font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
	margin-top: 7px ; 
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.badge {
    font-size: 100%;
}



